$base-color: #3d5af1;
$border-dark: rgba($base-color, 0.88);
$background-color: #09090a;
$text-color: #474554;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: $background-color;
  color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h1,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
// ============== Login ==============//
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: transparent;
  > div {
    height: 80%;
    width: clamp(340px, 50vw, 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #474554;
    box-sizing: border-box;
    padding: 40px;
    align-self: center;
    border-radius: 5px;
    text-align: center;
    > * {
      width: 100%;
    }
    h1 {
      font-size: 40px;
      padding-bottom: 10px;
      border-bottom: 2px solid $base-color;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      div {
        display: flex;
        flex-direction: column;
      }
      label {
        text-align: left;
      }
      input {
        background: transparent;
        border: none;
        border-bottom: 2px solid #ffffff;
        color: #ffffff;
        font-size: 20px;
        outline: none;
        transition: ease-in-out 0.3s;
        &:focus {
          border-bottom: 2px solid $background-color;
        }
      }

      button {
        border-radius: 15px;
        box-sizing: border-box;
        padding: 8px 0px;
        background-color: $base-color;
        color: #ffffff;
        font-size: 20px;
      }
      svg {
        align-self: center;
        width: 50px;
        height: 50px;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      div {
        flex-direction: row;
        justify-content: center;
        gap: 25px;
        button {
          color: blue;
          font-size: 30px;
          display: flex;
          border-radius: 90px;
          border: none;
          padding: 10px;
        }
      }
    }

    a {
      color: #ffffff;
      font-size: 20px;
      text-decoration: none;
      width: fit-content;
      align-self: center;
      &:hover {
        color: $base-color;
        transition: ease-in-out 0.3s;
      }
    }
  }
}
// ============== Main App ==============//
.container {
  flex: 1;
  height: 100%;
  display: flex;
  h1 {
    background-color: $base-color;
    color: #ffffff;
    box-sizing: border-box;
    max-height: 70px;
    height: 70px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    border: none;
  }
  nav {
    max-width: 60px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      display: flex;
      flex-direction: column;
      flex: 1;
      .logout {
        margin-top: auto;
      }
    }
    svg {
      font-size: 26px;
    }
    > * {
      width: 100%;
    }
    div {
      padding: 20px 0;
      background: $base-color;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      max-height: 70px;
      height: 70px;
    }
    ul {
      li {
        padding: 10px 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        border-left: 4px solid transparent;
        transition: ease-in-out 0.3s;
        &:focus,
        &:hover,
        &.active {
          background-color: gray;
          border-left: 4px solid $base-color;
        }
        svg {
          font-size: 22px;
        }
      }
    }
  }

  > div {
    flex: 1;
    background: #474554;
    border-radius: 8px;
  }
}

// ============= Loader ==============//
.Loader {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  svg {
    width: 500px;
    height: 500px;
  }
}
// ============= Body Container ==============//
main {
  background-color: #ffffff;
  flex: 1;
  color: $text-color;
  h1 {
    border-bottom: 3px solid $base-color;
    padding-bottom: 8px;
    padding-left: 20px;
  }
}

// ============= Chat ==============//
.chats {
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    flex: 1;
    overflow: hidden;
    > * {
      flex: 1;
      padding: 20px;
    }
    > section {
      max-width: 200px;
      h4 {
        color: gray;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      li {
        cursor: pointer;
        border-left: 3px gray solid;
        border-bottom: 3px gray solid;
        padding: 10px;
        background-color: lightcyan;

        border-radius: 3px;

        &.active {
          border-left: 3px solid $base-color;
          border-bottom: 3px solid $base-color;
        }
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 1;
      background-color: #474554;
      .chat {
        flex-direction: column;
        display: flex;
        gap: 15px;
        flex: 1;
        overflow-y: auto;
        .header {
          background-color: #f9f871;
          border-radius: 3px;
          padding: 15px 10px;
          display: flex;
          gap: 20px;
          img {
            height: 24px;
          }
          span {
            font-size: 20px;
            font-weight: 600;
          }
          div {
            display: flex;
            gap: 10px;
            align-items: center;
            div {
              gap: 0;
              cursor: pointer;
            }
          }
          p {
            font-size: 20px;
          }
        }
        > ul {
          display: flex;
          flex-direction: column;
          gap: 5px;
          overflow-x: hidden;
          li {
            background-color: #ffffff;
            border-radius: 3px;
            padding: 10px;
            width: fit-content;
            display: flex;
            gap: 10px;
            &.user {
              align-self: flex-end;
              display: flex;
              align-items: center;
              div {
                display: flex;
                align-items: center;
              }
              svg {
                font-size: 18px;
                color: #e0002d;
                cursor: pointer;
              }
            }
            img {
              width: 24px;
              cursor: pointer;
            }
          }
        }
      }
      form {
        width: 100%;
        display: flex;
        height: 50px;
        background-color: white;
        border-radius: 3px;
        box-sizing: border-box;
        padding: 10px 10px;
        textarea {
          flex: 1;
          resize: none;
          background-color: transparent;
          border: none;
          outline: none;
        }

        button {
          background-color: transparent;
          font-size: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $base-color;
        }
      }
    }
  }
  .userInfoContainer {
    display: flex;
    align-items: center;
    .userInfo {
      display: flex;
      gap: 10px;
      background-color: #f9f871;
      align-items: center;
      padding: 20px;
      border-radius: 3px;
      width: 50%;
      justify-content: space-between;
      button {
        cursor: pointer;
        padding: 15px;
        border: none;
        font-size: 24px;
        background-color: $base-color;
        color: white;
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
  }
}
